---
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
---

<Layout title="Archive">
  <Container>
    <Pagetitle>
      <Fragment slot="title">メンバー募集</Fragment>
      <Fragment slot="desc">私達は新たなメンバーを歓迎します。</Fragment>
    </Pagetitle>
    <main>
      
    </main>
  </Container>
</Layout>
