---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Contactform from "@components/contactform.astro";
import Pagetitle from "@components/pagetitle.astro";
---

<Layout title="contact">
  <Container>
    <Pagetitle>
      <Fragment slot="title">お問い合わせ</Fragment>
      <Fragment slot="desc">我々はあなたの力になれます。</Fragment>
    </Pagetitle>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800 dark:text-gray-200">
          連絡室
        </h2>
        <p
          class="text-lg leading-relaxed text-gray-500 dark:text-gray-400 mt-3">
          何か不明な点があるようでしたら以下の電話番号、またはe-mailでご連絡ください。
          気が向いたら反応します。
          
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>北海道札幌市中央区大通東8丁目1-61</span>
          </div>
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 dark:text-gray-300">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="">ys.programclass@gmail.com</a
            >

          </div>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
